.projects {
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 300px;
    padding-right: 300px;
    border-bottom: 10px solid #3A4042;

}

.project-line {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}